{% render 'partials/head.liquid' %}

<main class="card">

  {% comment %} Voorkant visitekaart {% endcomment %}
  <section class="card-front">
    <img src="/assets/Squad1J-Sieuwke2.JPG" alt="" width="200" class="profile-img">

    <hgroup>
      <h1>{{ person.name }}, 27</h1>
      <p>Amsterdam</p>
    </hgroup>

    <p class="i-am-text">Ik ben een <span>1e jaars Frontend student</span></p>
    
    <a href="https://github.com/SieuwkeSheta" target="_blank">
      <svg width="40" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.36532 22.5456C9.36532 22.6614 9.23548 22.754 9.07177 22.754C8.88548 22.7714 8.75564 22.6787 8.75564 22.5456C8.75564 22.4298 8.88548 22.3371 9.04919 22.3371C9.21855 22.3198 9.36532 22.4124 9.36532 22.5456ZM7.60968 22.285C7.57016 22.4008 7.68306 22.534 7.85242 22.5687C7.99919 22.6266 8.16855 22.5687 8.20242 22.4529C8.23629 22.3371 8.12903 22.204 7.95968 22.1518C7.8129 22.1113 7.64919 22.1692 7.60968 22.285ZM10.1048 22.1866C9.94113 22.2271 9.82823 22.3371 9.84516 22.4703C9.8621 22.5861 10.0089 22.6614 10.1782 22.6208C10.3419 22.5803 10.4548 22.4703 10.4379 22.3545C10.421 22.2445 10.2685 22.1692 10.1048 22.1866ZM13.8194 0C5.98952 0 0 6.09668 0 14.1272C0 20.5481 3.94032 26.0426 9.56855 27.9764C10.2911 28.1096 10.5452 27.6522 10.5452 27.2758C10.5452 26.9169 10.5282 24.9368 10.5282 23.7209C10.5282 23.7209 6.57661 24.5894 5.74677 21.9955C5.74677 21.9955 5.10323 20.3107 4.17742 19.8764C4.17742 19.8764 2.88468 18.9674 4.26774 18.9848C4.26774 18.9848 5.67339 19.1006 6.44677 20.4786C7.68306 22.7135 9.75484 22.0708 10.5621 21.6887C10.6919 20.7623 11.0589 20.1196 11.4653 19.7375C8.30968 19.3785 5.12581 18.9096 5.12581 13.3397C5.12581 11.7475 5.55484 10.9485 6.45806 9.92954C6.31129 9.5532 5.83145 8.00153 6.60484 5.99825C7.78468 5.62191 10.5 7.5615 10.5 7.5615C11.629 7.23728 12.8427 7.06937 14.0452 7.06937C15.2476 7.06937 16.4613 7.23728 17.5903 7.5615C17.5903 7.5615 20.3056 5.61613 21.4855 5.99825C22.2589 8.00732 21.779 9.5532 21.6323 9.92954C22.5355 10.9543 23.0887 11.7533 23.0887 13.3397C23.0887 18.9269 19.7637 19.3727 16.6081 19.7375C17.1274 20.1949 17.5677 21.0634 17.5677 22.424C17.5677 24.3751 17.5508 26.7895 17.5508 27.2643C17.5508 27.6406 17.8105 28.098 18.5274 27.9648C24.1726 26.0426 28 20.5481 28 14.1272C28 6.09668 21.6492 0 13.8194 0ZM5.4871 19.9691C5.41371 20.027 5.43064 20.1602 5.52661 20.2702C5.61694 20.3628 5.74677 20.4033 5.82016 20.3281C5.89355 20.2702 5.87661 20.137 5.78064 20.027C5.69032 19.9343 5.56048 19.8938 5.4871 19.9691ZM4.87742 19.5001C4.8379 19.5754 4.89435 19.668 5.00726 19.7259C5.09758 19.7838 5.21048 19.7664 5.25 19.6854C5.28952 19.6101 5.23306 19.5175 5.12016 19.4596C5.00726 19.4248 4.91694 19.4422 4.87742 19.5001ZM6.70645 21.5613C6.61613 21.6366 6.65 21.8103 6.77984 21.9203C6.90968 22.0534 7.07339 22.0708 7.14677 21.9782C7.22016 21.9029 7.18629 21.7292 7.07339 21.6192C6.94919 21.486 6.77984 21.4687 6.70645 21.5613ZM6.0629 20.7102C5.97258 20.7681 5.97258 20.9186 6.0629 21.0518C6.15323 21.1849 6.30564 21.2428 6.37903 21.1849C6.46935 21.1097 6.46935 20.9591 6.37903 20.826C6.3 20.6928 6.15323 20.6349 6.0629 20.7102Z" fill=""/>
      </svg>
      Github
    </a>

    <a href="">
      <svg width="40" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M26 0H1.99375C0.89375 0 0 0.90625 0 2.01875V25.9813C0 27.0938 0.89375 28 1.99375 28H26C27.1 28 28 27.0938 28 25.9813V2.01875C28 0.90625 27.1 0 26 0ZM8.4625 24H4.3125V10.6375H8.46875V24H8.4625ZM6.3875 8.8125C5.05625 8.8125 3.98125 7.73125 3.98125 6.40625C3.98125 5.08125 5.05625 4 6.3875 4C7.7125 4 8.79375 5.08125 8.79375 6.40625C8.79375 7.7375 7.71875 8.8125 6.3875 8.8125ZM24.0187 24H19.8687V17.5C19.8687 15.95 19.8375 13.9563 17.7125 13.9563C15.55 13.9563 15.2188 15.6438 15.2188 17.3875V24H11.0688V10.6375H15.05V12.4625H15.1062C15.6625 11.4125 17.0188 10.3062 19.0375 10.3062C23.2375 10.3062 24.0187 13.075 24.0187 16.675V24Z" fill=""/>
      </svg>
      LinkedIn
    </a>

    <p class="copyright">©2026</p>
  </section>

  {% comment %} Achterkant visitekaart {% endcomment %}
  <section class="card-back">
    <h2>Bio</h2>

    <p>{{ person.bio }}</p>

    <menu>
      <li><button id="ambitions">Ambities</button></li>
      <li><button id="work">Werkervaring</button></li>
      <li><button id="hobbies">Hobbies</button></li>
    </menu>

    {% comment %} Lijst met ambities {% endcomment %}
    <ul class="ambitions">
      <li>
        <img src="/assets/laptop.png" alt="Tekening van een laptop" width="150">
        Frontend designer & developer
      </li>
    </ul>

    {% comment %} Lijst met werkervaringen {% endcomment %}
    <ul class="work">
      <li>
        <img src="/assets/camera.png" alt="Tekening van een camera" width="150">
        Fotograaf
      </li>
      <li>
        <img src="/assets/autism.png" alt="Autisme infinity logo" width="150">
        Ervarings-deskundige Autisme
      </li>
    </ul>

    {% comment %} Lijst met hobbies {% endcomment %}
    <ul class="hobbies">
      <li>
        <img src="/assets/animalheart.png" alt="Tekening van een hart met een dierenpootje" width="150">
        Dierenliefhebber
      </li>
      <li>
        <img src="/assets/controller1.png" alt="Tekening van een gamecontroler" width="150">
        Gamen
      </li>
      <li>
        <img src="/assets/sewing-needle.png" alt="Tekening van naald en draad" width="150">
        Handwerkjes
      </li>
    </ul>
  </section>

</main>

{% comment %} Knop om visitekaart te draaien {% endcomment %}
<button>
  <svg width="50" viewBox="0 0 409 172" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M406.223 1.4689C411.129 8.06018 407.951 21.0385 407.445 28.902C407.361 30.2452 407.277 31.5885 407.193 32.9317C406.968 36.5452 406.737 40.1583 406.505 43.7714C406.36 46.0323 406.215 48.2933 406.071 50.5543C405.618 57.6404 405.161 64.7262 404.701 71.8118C404.171 79.9719 403.652 88.1327 403.142 96.2942C402.747 102.622 402.341 108.949 401.927 115.276C401.681 119.048 401.439 122.819 401.207 126.592C400.99 130.134 400.76 133.675 400.52 137.215C400.394 139.13 400.281 141.046 400.168 142.962C400.048 144.678 400.048 144.678 399.926 146.428C399.862 147.419 399.799 148.411 399.733 149.432C399.089 152.873 397.721 155.659 395.223 158.156C391.808 158.71 389.319 158.889 386.359 156.91C384.325 155.069 382.428 153.147 380.54 151.156C379.839 150.446 379.139 149.736 378.417 149.004C376.19 146.737 373.988 144.448 371.786 142.156C370.278 140.613 368.768 139.071 367.257 137.531C363.56 133.758 359.884 129.965 356.223 126.156C352.831 127.45 349.686 128.921 346.52 130.695C345.631 131.189 344.743 131.684 343.827 132.193C342.885 132.717 341.944 133.241 340.973 133.781C311.197 150.146 279.839 161.616 246.223 167.156C244.929 167.381 244.929 167.381 243.609 167.61C214.751 172.442 182.996 172.364 154.223 167.156C152.795 166.899 152.795 166.899 151.337 166.636C105.613 158.087 60.7481 138.266 26.9539 105.77C24.6437 103.559 22.2909 101.467 19.8484 99.4064C15.8975 95.9751 12.5749 92.1642 9.2234 88.1564C8.41903 87.2515 7.61465 86.3466 6.7859 85.4142C5.5484 83.9872 5.5484 83.9872 4.2859 82.5314C3.51376 81.6523 2.74161 80.7731 1.94606 79.8673C-0.0989921 76.649 -0.250073 74.9026 0.223405 71.1564C1.84841 68.7814 1.8484 68.7814 4.2234 67.1564C10.3623 66.1378 13.9527 69.1664 18.7859 72.4689C42.6302 88.08 67.3929 98.1573 95.2234 104.156C96.0084 104.336 96.7935 104.515 97.6023 104.7C121.736 110.058 151.156 109.54 175.223 104.156C176.128 103.958 177.033 103.759 177.966 103.554C216.708 94.794 249.513 76.3422 278.223 49.1564C274.662 44.7808 270.9 40.8115 266.825 36.9064C265.842 35.9586 264.859 35.0106 263.876 34.0626C262.356 32.599 260.833 31.1417 259.293 29.6994C257.787 28.2845 256.305 26.8482 254.825 25.4064C253.941 24.5659 253.058 23.7255 252.148 22.8595C249.689 19.4054 249.762 17.309 250.223 13.1564C252.129 10.2986 253.962 9.82258 257.223 9.15639C259.109 8.96705 260.999 8.81778 262.89 8.69447C264.045 8.61736 265.2 8.54026 266.39 8.46082C267.653 8.38026 268.917 8.2997 270.219 8.2167C271.566 8.12819 272.913 8.03937 274.26 7.95025C277.917 7.70931 281.574 7.47299 285.232 7.23764C289.064 6.9904 292.896 6.7394 296.728 6.48893C303.167 6.06863 309.606 5.65129 316.046 5.23574C323.478 4.75609 330.91 4.27201 338.342 3.78548C345.501 3.31691 352.66 2.8513 359.819 2.38709C362.86 2.18985 365.902 1.99162 368.943 1.79259C372.531 1.55791 376.12 1.32583 379.708 1.09571C381.644 0.971001 383.579 0.843765 385.515 0.716438C402.091 -0.339217 402.091 -0.339217 406.223 1.4689ZM372.174 15.799C371.119 15.8672 370.064 15.9355 368.978 16.0059C365.525 16.2301 362.074 16.4588 358.622 16.6876C356.215 16.8449 353.808 17.0018 351.401 17.1585C345.091 17.5699 338.781 17.9852 332.472 18.4013C326.023 18.8259 319.575 19.2469 313.126 19.6681C300.491 20.4939 287.857 21.3237 275.223 22.1564C274.891 25.2201 274.891 25.2201 276.968 27.1142C277.764 27.8435 278.56 28.5729 279.38 29.3244C280.237 30.1358 281.094 30.9473 281.977 31.7833C283.798 33.4813 285.629 35.169 287.47 36.8458C294.828 43.8664 294.828 43.8664 295.118 48.4025C294.051 52.8809 292.638 54.7722 289.411 58.0314C288.909 58.5433 288.407 59.0552 287.889 59.5827C286.355 61.1301 284.793 62.6448 283.223 64.1564C282.395 64.9814 281.566 65.8064 280.712 66.6564C267.266 79.4896 251.749 89.7672 235.223 98.1564C234.466 98.5467 233.708 98.9369 232.928 99.339C179.555 126.616 117.713 127.957 61.2732 109.803C58.2739 108.857 55.2521 108.004 52.2234 107.156C80.7133 137.066 131.507 150.772 171.223 155.156C172.015 155.249 172.806 155.342 173.621 155.438C182.182 156.341 190.75 156.4 199.348 156.406C200.141 156.407 200.934 156.408 201.75 156.408C215.75 156.39 229.403 155.524 243.223 153.156C244.201 152.99 245.179 152.824 246.186 152.652C282.629 146.218 317.74 132.413 348.786 112.219C351.588 110.46 353.823 109.156 357.223 109.156C361.334 111.251 364.249 113.973 367.454 117.262C367.93 117.746 368.407 118.23 368.898 118.729C370.407 120.262 371.91 121.802 373.411 123.344C375.399 125.385 377.393 127.419 379.391 129.449C380.71 130.803 380.71 130.803 382.056 132.184C383.982 134.381 383.982 134.381 386.223 134.156C387.141 120.561 388.054 106.964 388.961 93.3679C389.383 87.0535 389.806 80.7392 390.233 74.4252C390.645 68.3241 391.053 62.2227 391.458 56.1211C391.613 53.8012 391.769 51.4814 391.927 49.1617C393.082 32.1747 393.082 32.1747 393.223 15.1564C386.177 15.0679 379.204 15.3265 372.174 15.799Z" fill="black"/>
  </svg>
  Draai kaart
</button>

{% render 'partials/foot.liquid' %}
