/* Algemeen */
* {
  /* Zorgt ervoor dat de padding en border bij de breedte horen */
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--text-main-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Custom properties */
:root {
  --text-main-color: rgb(77, 0, 40);
  --text-accent-color: rgb(226, 3, 133);
  --link-hover: rgb(164, 70, 124);
  --light-color: rgb(255, 255, 255);
  --background-color: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(252, 171, 213) 100%);
  --background-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);

 

  /* Font maten */
  --font-size-heading-l: 2rem;
  --font-size-heading-m: 1.6rem;
  --font-size-heading-s: 1.4rem;
  --font-size-heading-xs: 1rem;

  --font-size-l: 1.4rem;
  --font-size-m: 1.1rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.9rem;

  /* Header maten */
  h1 {
    font-size: var(--font-size-heading-m);
  }
  
  h2 {
    font-size: var(--font-size-heading-m);
  }

  h3 {
    font-size: var(--font-size-heading-s);
  }
  h4 {
    font-size: var(--font-size-heading-xs);
  }
}

body {
  position: relative;
}
}

p {
  margin:0;
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
}

/* Rij (knoppen) met Werkervaring, Hobbies en Ambities */
header {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

menu {
  padding: 1rem;
  margin: 1rem;
  list-style-type: "";
  display: flex;
  gap: 1rem;
}

menu button {
  background-color: transparent;
  color: #4e0028;
  border: none;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}


menu button:hover {
  color: #a14a79;
  scale: 1.1;
}

/* Profielfoto met border */
.profile-img {
  width: 10em;
  height: 10em;
  border: 5px solid #ffffff;
  border-radius: 10em;
  transition: .25s .15s;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}

/* Rijen met png's en tekst */
ul {
  margin: 0;
  list-style-type: "";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

ul li {
  scale: 0;
  transition: 1s;
}

.is-shown {
  scale: 1;
  }

.ambities {
  color: #fc4bb3;
  text-shadow: 1px 0.1px black;
}

.png {
  width: 5rem;
}

.boven {
  li:nth-of-type(1){
    rotate: -15deg;
    margin-bottom: -2rem;
  }
  li:nth-of-type(2){
    margin-bottom: 2rem;
  }
  li:nth-of-type(3){
    rotate: 15deg;
    margin-bottom: -2rem;
  }
 }

.onder {
  margin:0;

  li:nth-of-type(1){
    rotate: 15deg;
    margin-top: -2rem;
  }
  li:nth-of-type(2){
    margin-bottom: -2rem;
  }
  li:nth-of-type(3){
    rotate: -15deg;
    margin-top: -2rem;
  }
}