/* Algemeen */
* {
  /* Zorgt ervoor dat de padding en border bij de breedte horen */
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--text-main-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Custom properties */
:root {
  --text-main-color: rgb(77, 0, 40);
  --text-accent-color: rgb(226, 3, 133);
  --link-hover: rgb(164, 70, 124);
  --light-color: rgb(255, 255, 255);
  --background-color: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(252, 171, 213) 100%);
  --background-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);

 

  /* Font maten */
  --font-size-heading-l: 2rem;
  --font-size-heading-m: 1.6rem;
  --font-size-heading-s: 1.4rem;
  --font-size-heading-xs: 1rem;

  --font-size-l: 1.4rem;
  --font-size-m: 1.1rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.9rem;

  /* Header maten */
  h1 {
    font-size: var(--font-size-heading-m);
  }
  
  h2 {
    font-size: var(--font-size-heading-m);
  }

  h3 {
    font-size: var(--font-size-heading-s);
  }
  h4 {
    font-size: var(--font-size-heading-xs);
  }
}

body {
  position: relative;
}
.card {
  position: relative;
}

/* Voorkant visitekaart */
.card-front {
  z-index: 1;
  position: absolute;
  inset: 2em 1em 1em;
  height: 65dvh;
  padding: 1em;

  border-radius: 10px;
  background: var(--background-color);
  box-shadow: var(--background-box-shadow);
  text-align: center;


  /* Profiel foto */
  img {
    width: 10em;
    border-radius: 50%;
    border: 5px solid var(--light-color);
  }

  hgroup {
    font-size: var(--font-size-heading-m);
    font-weight: 700;
  }




}

}

}

  }



  }
  }
  }


  }
  }
  }
}